<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/style.css?v=2" type="text/css" media="screen">
	<script src="/assets/scripts/functions.js?v=2" type="text/javascript"></script>
	<script src="/assets/scripts/canvas.js?v=2" type="text/javascript"></script>
</head>
<body class="{{ if .IsHome }}isHome{{ else }}isInternal{{ end }}">
<div class="wrapper">
	<header>
	    <a class="siteTitle" href="/">Beyond Ideal</a>
	</header>
</div>
<div id="body">
	<div id="leftNavigationArea" class="navigationArea">
	</div>
	
	<div id="content">
		{{ block "main" . }}{{ end }}
	</div>

	<div id="rightNavigationArea" class="navigationArea">
	</div>
</div>
<footer id="pageFooter">
</footer>
</body>
</html>
